/* ----------------------------------------------------------------------------- */
/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v2.0 | 20110126 */
/* License: none (public domain) */
/* ----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------------------------------------- */
/* This file contains CSS helper classes */
/* ----------------------------------------------------------------------------- */
/* Main content containers */
.container, .about, .service, .statistic, .portfolio, .recent-story {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

@media only screen and (min-width: 1100px) {
  .container, .about, .service, .statistic, .portfolio, .recent-story {
    width: 100%;
    padding: 120px 0;
  }
}

/* Clear inner floats */
.clearfix::after, .about::after {
  clear: both;
  content: '';
  display: table;
}

/* Hide text while making it readable for screen readers */
.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

/* ----------------------------------------------------------------------------- */
/* This file contains very basic styles */
/* ----------------------------------------------------------------------------- */
/* Set up a decent box model on the root element */
html, body {
  height: 100%;
}

html {
  font-size: 1.4rem;
  box-sizing: border-box;
}

/* Make all elements from the DOM inherit from the parent box-sizing */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Basic typography style */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Arial, sans-serif;
  color: #686767;
  background-color: #fff;
}

/* Basic styles for links */
a {
  color: #f39c12;
  text-decoration: none;
}

/* Make images responsive */
img {
  max-width: 100%;
}

/* Basic styles for h1, h2, h3, h4, h5, h6 */
h1 {
  color: #f39c12;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 3.4rem;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 4.8rem;
  }
}

h2 {
  color: #262626;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  color: #686767;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic styles for paragraphs */
p {
  color: #686767;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Title */
.title {
  padding-bottom: 9px;
  border-bottom: 3px solid #f39c12;
}

.title-border {
  max-width: 404px;
  margin: 0 auto;
  margin-bottom: 52px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f39c12;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title-border {
    margin-bottom: 60px;
  }
}

.header__main {
  width: 100%;
  height: 50px;
  background: #1b1b1b;
}

@media only screen and (min-width: 1100px) {
  .header__main {
    background: rgba(0, 0, 0, 0.7);
    height: 94px;
  }
}

.header__main__center {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1100px) {
  .header__main__center {
    width: 90%;
    max-width: 960px;
  }
}

.header__main__center .logo {
  position: absolute;
  top: 0;
  left: 5%;
  bottom: auto;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  z-index: 3;
}

.header__main__center .logo:hover {
  color: #f39c12;
}

.header__main__center .logo b {
  font-weight: 700;
}

.header__main__center .logo span {
  color: #f39c12;
}

@media only screen and (min-width: 1100px) {
  .header__main__center .logo {
    left: auto;
    line-height: 94px;
  }
}

.header__main__center .nav__list {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #1b1b1b;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

@media only screen and (min-width: 1100px) {
  .header__main__center .nav__list {
    padding-right: 56px;
    top: 0;
    left: auto;
    right: 0;
    width: auto;
    background: transparent;
    box-shadow: none;
  }
}

.header__main__center .nav__list__item {
  display: block;
  padding-left: 5%;
  width: 100%;
  line-height: 50px;
  border-top: 1px solid #1e1e1e;
  color: #ececec;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 1100px) {
  .header__main__center .nav__list__item {
    display: inline-block;
    width: auto;
    margin-left: 24px;
    padding-left: 0;
    font-weight: 700;
    line-height: 94px;
    border-top: none;
    color: #fff;
  }
  .header__main__center .nav__list__item.active {
    box-shadow: 0 2px 0 #f39c12;
  }
}

.header__main__center .nav__list__item:hover, .header__main__center .nav__list__item.active {
  color: #f39c12;
}

.header__main__center .header-buttons {
  position: absolute;
  display: inline-block;
  top: 3px;
  right: 5%;
}

.header__main__center .header-buttons li {
  display: inline-block;
}

@media only screen and (min-width: 1100px) {
  .header__main__center .header-buttons {
    top: 25px;
    right: 0;
  }
}

.header__main__center .header-buttons .search-trigger, .header__main__center .header-buttons .nav-trigger {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  /* Hide text */
  color: transparent;
  z-index: 3;
}

.header__main__center .header-buttons .search-trigger::before, .header__main__center .header-buttons .search-trigger::after {
  /* Search icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header__main__center .header-buttons .search-trigger::before {
  /* Lens */
  top: 14px;
  left: 26px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.header__main__center .header-buttons .search-trigger::after {
  /* Handle */
  height: 2px;
  width: 7px;
  background: #fff;
  bottom: 15px;
  right: 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__main__center .header-buttons .search-trigger span {
  /* Container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header__main__center .header-buttons .search-trigger span::before, .header__main__center .header-buttons .search-trigger span::after {
  /* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #fff;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header__main__center .header-buttons .search-trigger span::before::before, .header__main__center .header-buttons .search-trigger span::after::before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__main__center .header-buttons .search-trigger span::before::after, .header__main__center .header-buttons .search-trigger span::after::after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__main__center .header-buttons .nav-trigger span, .header__main__center .header-buttons .nav-trigger span::before, .header__main__center .header-buttons .nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 18px;
  background: #fff;
}

.header__main__center .header-buttons .nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2px;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  -ms-transition: background 0.3s 0.3s;
  -o-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.header__main__center .header-buttons .nav-trigger span::before {
  /* menu icon top line */
  top: -5px;
}

.header__main__center .header-buttons .nav-trigger span::after {
  /* menu icon bottom line */
  top: 5px;
}

.header__main__center .header-buttons .nav-trigger span::before, .header__main__center .header-buttons .nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform 0.3s 0.3s;
  -moz-transition: transform 0.3s 0.3s;
  -ms-transition: transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

@media only screen and (min-width: 1100px) {
  .header__main__center .header-buttons .nav-trigger {
    display: none;
  }
}

.header {
  position: relative;
  height: 100%;
  background: url(../images/pic/bg-header.png) no-repeat center center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

@media only screen and (min-width: 1100px) {
  .header {
    height: 836px;
  }
}

.header .intro {
  position: relative;
  height: 100vh;
  width: 100%;
  display: table;
  overflow: hidden;
}

.header .intro__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.header .intro__content__title {
  text-align: center;
}

.header .intro__content__title strong {
  font-weight: 700;
  color: #fff;
}

@media only screen and (min-width: 1100px) {
  .header .intro__content__title {
    text-align: right;
  }
}

.header .intro__content__action-wrapper {
  margin-top: 48px;
}

@media only screen and (min-width: 768px) {
  .header .intro__content__action-wrapper {
    margin-top: 64px;
  }
}

.header .intro__content__action-wrapper a:not(:last-child) {
  margin-right: 16px;
}

/* ----------------------------------------------------------------------------- */
/* About section */
/* ----------------------------------------------------------------------------- */
@media only screen and (min-width: 1100px) {
  .about__image {
    float: left;
    height: 632px;
    width: 50%;
    background: url("../images/pic/pic-about.png") no-repeat 0 50%/cover;
  }
}

@media only screen and (min-width: 1100px) {
  .about__aside {
    float: right;
    width: 50%;
    padding: 0 6.83761%;
  }
}

.about__aside__description {
  padding-bottom: 16px;
}

.about__aside__description:nth-of-type(1) {
  margin-top: -8px;
}

.about__skills {
  margin-top: 10px;
}

@media only screen and (min-width: 1100px) {
  .about__skills {
    margin-top: 45px;
  }
}

.about__skills__progress {
  width: calc(100% - 78px);
  margin-bottom: 22px;
}

.about__skills__progress:last-of-type {
  margin-bottom: 0;
}

.about__skills__progress__title {
  color: #262626;
  font-weight: bold;
}

.about__skills__progress__base {
  position: relative;
  background: #ececec;
  height: 12px;
}

.about__skills__progress__base:before, .about__skills__progress__base:after {
  position: absolute;
}

.about__skills__progress__base:before {
  content: '80%';
  width: 40px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background: #f39c12;
  text-align: center;
  right: -78px;
  bottom: calc(50% - 13px);
}

.about__skills__progress__base:after {
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: #f39c12;
  bottom: calc(50% - 6px);
  right: -38px;
}

.about__skills__progress__base__progress-bar {
  background: #f39c12;
  height: 100%;
}

.about__skills__progress__base__value {
  position: absolute;
  width: 40px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background: #f39c12;
  text-align: center;
  right: -78px;
  bottom: 37%;
}

/* ----------------------------------------------------------------------------- */
/* My Service Section */
/* ----------------------------------------------------------------------------- */
.service {
  padding-top: 0;
}

@media only screen and (min-width: 768px) {
  .service {
    max-width: 960px;
  }
}

.service__list {
  padding-top: 8px;
}

@media only screen and (min-width: 768px) {
  .service__list {
    width: calc(100% + 10px);
  }
}

.service__list__item {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .service__list__item {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 10px);
    margin: 0 6px 10px 0;
  }
}

.service__list__item a {
  display: block;
  box-shadow: inset 0 0 0 1px #ececec;
  background: #fff;
  padding: 28px 9%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.service__list__item a:hover {
  background: #f39c12;
  box-shadow: none;
}

.service__list__item a:hover i::before {
  background-position-y: 100%;
}

.service__list__item a:hover .service__list__item__ic-service {
  background: #fff;
}

.service__list__item a:hover h3 {
  color: #fff;
}

.service__list__item a:hover p {
  color: #fff;
}

.service__list__item__ic-service {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  background: #bbbbbb;
}

.service__list__item__ic-service::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  background: url("../images/ic/svg/ic-service.svg") no-repeat 0 0/800% auto;
}

.service__list__item .calendar::before {
  background-position: -24px 0;
}

.service__list__item .math::before {
  background-position: -48px 0;
}

.service__list__item .joomla::before {
  background-position: -72px 0;
}

.service__list__item .global::before {
  background-position: -96px 0;
}

.service__list__item .target::before {
  background-position: -120px 0;
}

.service__list__item .theme::before {
  background-position: -144px 0;
}

.service__list__item .seo::before {
  background-position: -168px 0;
}

.service__list__item__title {
  margin-top: 20px;
}

.service__list__item__description {
  margin-top: 10px;
}

/* ----------------------------------------------------------------------------- */
/* My Statistic Section */
/* ----------------------------------------------------------------------------- */
.statistic {
  width: 100%;
  position: relative;
  height: 100%;
  background: url("../images/pic/pic-statistic.png") no-repeat center center/cover;
}

.statistic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.statistic h2 {
  position: relative;
  width: 90%;
  color: #fff;
}

.statistic__unit {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .statistic__unit {
    height: 184px;
  }
}

@media only screen and (min-width: 768px) {
  .statistic__unit::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: calc(50% - 350px);
    width: 700px;
    height: 2px;
    background-color: #fff;
    text-align: center;
  }
}

.statistic__unit__item {
  position: relative;
  float: none;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.statistic__unit__item:not(:last-child) {
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .statistic__unit__item {
    float: left;
    width: 33.33333%;
  }
}

.statistic__unit__item__number {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.statistic__unit__item__text {
  color: #fff;
}

.statistic__unit__item__bg {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 32px 0;
  border-radius: 50px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 35px;
}

.ic-laptop {
  background-image: url("../images/ic/svg/ic-laptop.svg");
}

.ic-user {
  background-image: url("../images/ic/svg/ic-user.svg");
}

.ic-awards {
  background-image: url("../images/ic/svg/ic-awards.svg");
}

/* ----------------------------------------------------------------------------- */
/* My Work Section */
/* ----------------------------------------------------------------------------- */
.portfolio {
  padding-bottom: 0;
}

.portfolio__nav {
  text-align: center;
}

.portfolio__nav__filter {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .portfolio__nav__filter {
    display: none;
  }
}

.portfolio__nav__filter::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: 20px;
  background: url("../images/ic/svg/ic-arrow.svg") no-repeat 50% 50%;
  pointer-events: none;
}

.portfolio__nav__filter .filter {
  cursor: pointer;
  font-size: 1.4rem;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #686767;
  background-color: #fff;
  border: 1px solid #ececec;
}

.portfolio__nav__filter .filter:focus {
  outline: none;
}

.portfolio__nav__item {
  display: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .portfolio__nav__item {
    display: inline-block;
    padding: 15px;
    color: #bbbbbb;
  }
}

.portfolio__nav__item:hover {
  color: #fff;
  background-color: #f39c12;
}

@media only screen and (min-width: 768px) {
  .portfolio__nav__item::after {
    opacity: 0;
    transition: opacity .2s;
  }
}

.portfolio__nav .active {
  color: #fff;
  background-color: #f39c12;
}

.portfolio__list {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .portfolio__list {
    margin-top: 60px;
  }
}

.portfolio__list__item {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .portfolio__list__item {
    float: left;
    margin-bottom: 23px;
  }
}

.portfolio__list__item::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #f39c12 url("../images/ic/svg/ic-search.svg") no-repeat 50% 50%/24px;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .portfolio__list__item::after {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio__list__item:hover .portfolio__list__item__caption, .portfolio__list__item:hover::after, .portfolio__list__item:hover::after {
    opacity: 1;
  }
}

.portfolio__list__item__pic {
  display: block;
  width: 100%;
}

.portfolio__list__item__caption {
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 768px) {
  .portfolio__list__item__caption {
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.portfolio__list__item__caption h3 {
  color: #fff;
}

.portfolio__list__item__caption__description {
  color: #bbbbbb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  .two-thirds {
    width: 32.19373%;
  }
  .one-third {
    width: 23.71795%;
  }
  .margin-right {
    margin-right: 1.7094%;
  }
}

/* ----------------------------------------------------------------------------- */
/* Recent Story */
/* ----------------------------------------------------------------------------- */
.recent-story {
  max-width: 960px;
  margin-top: -23px;
}

.recent-story__article {
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

.recent-story__article:last-of-type {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .recent-story__article {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .recent-story__article {
    float: left;
    width: 48.95833%;
  }
  .recent-story__article:last-child {
    float: right;
  }
}

.recent-story__article__wrapper {
  height: 200px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .recent-story__article__wrapper {
    max-width: 161px;
    height: auto;
    overflow: visible;
  }
}

@media only screen and (min-width: 1100px) {
  .recent-story__article__wrapper {
    max-width: 200px;
  }
}

.recent-story__article__wrapper__image {
  display: block;
  width: 100%;
  height: auto;
}

.recent-story__article__list {
  padding: 20px;
}

.recent-story__article__list__date {
  color: #686767;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.2rem;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-story__article__list__title {
  margin-top: 4px;
  color: #f39c12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recent-story__article__list__description {
  margin: 10px 0 20px 0;
  font-size: 1.4rem;
  color: #686767;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .float-left-img {
    float: left;
    margin-right: 20px;
  }
  .float-right-img {
    float: right;
    margin-left: 20px;
  }
}

/* ----------------------------------------------------------------------------- */
/* Blog */
/* ----------------------------------------------------------------------------- */
.blog {
  padding: 60px 0;
  background-color: #262626;
}

@media only screen and (min-width: 1100px) {
  .blog {
    padding: 80px 0;
  }
}

.blog__article {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1100px) {
  .blog__article {
    padding: 0 80px;
  }
}

@media only screen and (min-width: 1100px) {
  .blog__article__wrapper {
    float: left;
    width: 50%;
    padding-right: 40px;
  }
}

.blog__article__wrapper__image {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .blog__article__aside {
    float: right;
    width: 50%;
    padding-left: 40px;
  }
}

.blog__article__aside h2 {
  margin-top: 60px;
  color: #fff;
}

@media only screen and (min-width: 1100px) {
  .blog__article__aside h2 {
    margin-top: 40px;
  }
}

.blog__article__aside__description {
  padding-bottom: 16px;
  color: #bbbbbb;
}

.blog__article__aside__description:nth-of-type(1) {
  margin-top: -8px;
}

.blog__article__aside__description:last-of-type {
  padding-bottom: 0;
}

/* ----------------------------------------------------------------------------- */
/* Clients Feedback */
/* ----------------------------------------------------------------------------- */
.testimonial {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

@media only screen and (min-width: 768px) {
  .testimonial {
    padding: 120px 0;
  }
}

@media only screen and (min-width: 768px) {
  .testimonial__quote {
    float: left;
    width: 48.95833%;
  }
}

@media only screen and (min-width: 768px) {
  .testimonial__quote:last-child {
    float: right;
  }
}

.testimonial__quote:not(:last-child) {
  margin-bottom: 40px;
}

.testimonial__quote__blockquote {
  position: relative;
  padding: 20px;
  background-color: #ececec;
}

.testimonial__quote__blockquote::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 40px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top-color: #ececec;
}

.testimonial__quote__blockquote__tittle {
  padding-bottom: 4px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial__quote__blockquote__description {
  color: #686767;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial__quote__author {
  display: table;
  margin: 20px 0 0 20px;
}

.testimonial__quote__author__image {
  width: 60px;
  height: 60px;
}

.testimonial__quote__author__info {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}

.testimonial__quote__author__info__name {
  padding-bottom: 4px;
  color: #f39c12;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial__quote__author__info__position {
  color: #686767;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----------------------------------------------------------------------------- */
/* Twitter Feed */
/* ----------------------------------------------------------------------------- */
.twitter-feed {
  position: relative;
  padding: 60px 0;
  background: url("../images/pic/pic-twitter-feed.png") no-repeat 50% 50%/cover;
}

@media only screen and (min-width: 768px) {
  .twitter-feed {
    padding: 120px 0;
  }
}

.twitter-feed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.twitter-feed .title-border {
  position: relative;
  color: #fff;
}

.twitter-feed__description {
  position: relative;
  text-align: center;
  color: #fff;
}

.twitter-feed span {
  color: #f39c12;
}

/* ----------------------------------------------------------------------------- */
/* Contact */
/* ----------------------------------------------------------------------------- */
.contact {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

@media only screen and (min-width: 768px) {
  .contact {
    padding: 120px 0;
  }
}

.contact-form legend {
  margin-bottom: 40px;
}

.contact-form input {
  border-bottom: 1px solid #b0b0b0;
  padding: 50px 0;
}

.contact-form input:focus {
  border-bottom-color: #f39c12;
}

input, textarea {
  display: block;
  width: 100%;
  border: none;
  color: #262626;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input:focus, textarea:focus {
  outline: none;
}

/* Button style */
.button {
  display: inline-block;
  padding: 12px 20px 12px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #f39c12;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: #d2850b;
}

.button__outline {
  color: #fff;
  background: transparent;
  box-shadow: inset 0 0 0 1px #fff;
}

.button__outline:hover {
  color: #f39c12;
  background: #fff;
}

.button__learn-more {
  font-weight: 400;
  text-transform: none;
  background-color: #262626;
}

.button__learn-more:hover {
  background-color: #bbbbbb;
}

/* Slider navigation style */
.slider-nav li a {
  display: none;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 66px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider-nav li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 768px) {
  .slider-nav li a {
    display: inline-block;
  }
}

.slider-nav__prev {
  left: 16px;
}

.slider-nav__next {
  right: 16px;
}

.slider-nav li a::before, .slider-nav li a::after {
  content: '';
  position: absolute;
  left: 48%;
  top: 88%;
  width: 2px;
  height: 13px;
  background-color: #bbbbbb;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.slider-nav li a:hover:before, .slider-nav li a:hover::after {
  background-color: #fff;
}

.slider-nav__prev::before {
  -moz-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -webkit-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}

.slider-nav__prev::after {
  -moz-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -webkit-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}

.slider-nav__next::before {
  -moz-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -webkit-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}

.slider-nav__next::after {
  -moz-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -webkit-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}

/* Pagination style */
.slider__pagination__list {
  margin-top: 40px;
  text-align: center;
  font-size: 0;
}

@media only screen and (min-width: 1100px) {
  .slider__pagination__list {
    margin-top: 60px;
  }
}

.slider__pagination__list__item {
  display: inline-block;
}

.slider__pagination__list__item:not(:last-child) {
  margin-right: 8px;
}

.slider__pagination__list__item a {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: #ececec;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slider__pagination__list__item a:hover {
  background-color: #262626;
}

.slider__pagination__list__item.active a {
  background-color: #262626;
}
