/* ----------------------------------------------------------------------------- */
/* Contact */ 
/* ----------------------------------------------------------------------------- */

.contact
	width: 90%
	max-width: 960px
	margin: 0 auto
	padding: 60px 0

	+MQ(M)
		padding: 120px 0


.contact-form legend
	margin-bottom: 40px

.contact-form input
	border-bottom: 1px solid #b0b0b0
	padding: 50px 0

.contact-form input:focus
	border-bottom-color: $primary-color


input, textarea
	display: block
	width: 100%
	border: none
	color: $secondary-color
	border-radius: 0
	-webkit-appearance: none
	-moz-appearance: none
	-ms-appearance: none
	-o-appearance: none
	appearance: none

input:focus, textarea:focus 
	outline: none